<div class="sticky" style="padding-top: 8px;">
    <!-- header -->
<header>
   <!-- mobile menu -->
   <div class="mobile-menu bg-second">
       <a href="#" class="mb-logo">Electrons</a>
       <span class="mb-menu-toggle" (click)="onToggleClick()" id="mb-menu-toggle">
           <i class='bx bx-menu'></i>
       </span>
   </div>
   <!-- end mobile menu -->
   <!-- main header -->
   <div class="header-wrapper" id="header-wrapper">
       <span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
           <i class='bx bx-x'></i>
       </span>
       <!-- top header -->
       <div class="bg-second">
           <div class="top-header container">
               <!-- <ul class="devided">
                   <li>
                       <a href="#">+9876545676</a>
                   </li>
                   <li>
                       <a href="#">electrons@mail.com</a>
                   </li> -->
               </ul>
               <ul class="devided">
                   <li class="dropdown">
                       <a href="">USD</a>
                       <i class='bx bxs-chevron-down'></i>
                       <ul class="dropdown-content">
                           <li><a href="#">VND</a></li>
                           <li><a href="#">JPY</a></li>
                           <li><a href="#">EUR</a></li>
                       </ul>
                   </li>
                   <li class="dropdown">
                       <a href="">ENGLISH</a>
                       <i class='bx bxs-chevron-down'></i>
                       <ul class="dropdown-content">
                           <li><a href="#">VIETNAMESE</a></li>
                           <li><a href="#">JAPANESE</a></li>
                           <li><a href="#">FRENCH</a></li>
                           <li><a href="#">SPANISH</a></li>
                       </ul>
                   </li>
                   <li><a href="#">ORDER TRACKING</a></li>
               </ul>
           </div>
       </div>
       <!-- end top header -->
       <!-- mid header -->
       <div class="bg-main ">
           <div class="bottom-header">
               <a routerLink="/home" class="logo">Electrons</a>
               <ul class="main-menu">
                   <li><a routerLink="/home">home</a></li>
                  
                   <li class="mega-dropdown">
                       <a routerLink="/home">Shop<i class='bx bxs-chevron-down'></i></a>
                      
                   </li>
                 
                   <li><a routerLink="/home">blog</a></li>
                   <li><a routerLink="/home">contact</a></li>
               </ul>
               <ul class="user-menu">
                   <!-- <li><a href="#"><i class='bx bx-bell'></i></a></li>
                   <li><a href="#"><i class='bx bx-user-circle'></i></a></li> -->
                   <li><a routerLink="/cart" href="#"><i class='bx bx-cart'></i></a> </li>
               </ul>
           </div>
           <!-- <div class="mid-header container">
               <a href="#" class="logo">ATShop</a>
               <div class="search">
                   <input type="text" style="border: 1px solid black" placeholder="Search">
                   <i class='bx bx-search-alt'></i>
               </div>
               <ul class="user-menu">
                   <li><a href="#"><i class='bx bx-bell'></i></a></li>
                   <li><a href="#"><i class='bx bx-user-circle'></i></a></li>
                   <li><a routerLink="/cart" href="#"><i class='bx bx-cart'></i></a>1</li>
               </ul>
           </div> -->
       </div>
       <!-- end mid header -->
       <!-- bottom header -->
       <!-- <div class="bg-second">
           <div class="bottom-header container">
               <ul class="main-menu">
                   <li><a href="#">home</a></li>
                  
                   <li class="mega-dropdown">
                       <a href="#">Shop<i class='bx bxs-chevron-down'></i></a>
                      
                   </li>
                 
                   <li><a href="#">blog</a></li>
                   <li><a href="#">contact</a></li>
               </ul>
           </div>
       </div> -->
       <!-- end bottom header -->
   </div>
   <!-- end main header -->
</header>
<!-- end header -->

</div>

<router-outlet></router-outlet>
